practica03/src/main/resources/esquema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://t4is.uv.mx/saludos"
    xmlns:tns="https://t4is.uv.mx/saludos"
    elementFormDefault="qualified">
     <xs:element name="SucesorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numero" type="xs:double" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SucesorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:double" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>